$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$nlnetlabs-green: #00715a;
$getdns-dark-grey: #707070;
$getdns-light-grey: #b3b3b3;
$getdns-red: #be131a;

$brand-primary: $getdns-red;
$carousel-control-color: $getdns-red;
$carousel-indicator-active-bg: $getdns-light-grey;


@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "offcanvas.css";

.carousel-control.right, .carousel-control.left {
	background-image: none;
}
.navbar-brand {
	margin-top: -15px;
}

.feature {
	text-align: center;
	height: 400px;
}
.feature-img-link {
	display: block;
	position: relative;
	height: 200px;
	width: 100%;
}

a.feature-img-link:hover {
	color: $nlnetlabs-green;
	background-color: #eee;
	text-decoration: none;
}

a.feature-img-link div {
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
}
a.feature-img-link div h2 {
	margin-top: 0;
	padding-top: 0;
}

.news-list-item p {
	display: inline;
}

/* Tocdoc scroll spying anchor positioning fix */
h1, h2, h3 {
	padding-top: 70px;
	margin-top: -50px;
}
#sidebar h2 {
	padding-top: 0;
	margin-top: 0;
}

/* Tocdoc scroll spying navigation sidebar styling (and hiding) */
#tocdoc > ul li ul {
	display: none;
}
#tocdoc > ul li.active ul {
	display: block;
}
#tocdoc > ul li.active ul li a {
	font-size: 90%;
	padding-top: 1ex;
	padding-bottom: 1ex;
	padding-left: 2em;
}
#tocdoc ul li ul li ul li a {
	padding-left: 3em;
}

/* Things for styling the spec */
div.forh { white-space: pre; font-family: monospace; margin-top: 0; margin-bottom: 0 }
p.define { font-family: monospace; font-weight: bold; margin-bottom: 0; margin-left: 2em; }
p.descrip { margin-left: 4em; margin-top: 0; }
p.cont { margin-top: 0 }
/* Markdown replacements for p.define and p.descrip */
blockquote {
	font-size: inherit;
	border-left: inherit;
	padding: 0;
	margin-left: 2em;
	margin-bottom: 0;
}
blockquote p {
	margin-bottom: 0;
}
blockquote blockquote p, blockquote blockquote p:last-child {
	margin-bottom: 10px;
}

/* Do a Query */
.hidequeryresult {
	display: none;
}
.dnssec_secure {
	font-weight: bold;
	color: green;
}
.dnssec_bogus {
	font-weight: bold;
	color: red;
}

.navbar-form {
	width: 240px;
}

.carousel-inner {
	min-height: 250px;
}
.carousel-inner div.item {
	margin: 10px 100px;
}
.carousel-inner div.item img {
	margin-left: auto;
	margin-right: auto;
}
.carousel-inner div.item1 div.carousel-caption {
	color: #060;
}

