{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ site.get('/authors/'+post.author).name }}
    {% endif %}
    on {{ post.date }}
  </p>
  {{ post.body }}
  </div>
{% endmacro %}
{% macro render_blog_sidebar(active) %}
  <div class="list-group" color="blue">
    <h2>Examples</h2>
      {% for post in site.get('/blog').pagination.items %}
        <a href="{{ post|url }}" class="list-group-item
            {%- if post._id == active._id %} active{% endif %}">
          <b>{{ post.title }}</b>
          by <span style="white-space: nowrap">{{ site.get('/authors/'+post.author).name }}</span> on {{ post.date }}
        </a>
      {% endfor %}
   </div>
{% endmacro %}
