{% macro get_things_by_tag(tag) %}
  {% set (PF, RF, BF, NF) = ( F.tags.contains(tag), F.tags.contains(tag)
                            , F.tags.contains(tag), F.tags.contains(tag)) %}
  {% set things = 
     ( site.get('/presentations').children.filter(PF)|list
     + site.get('/releases').children.filter(RF)|list
     + site.get('/blog').children.filter(BF)|list
     + site.get('/news').children.filter(NF)|list
     ) | sort(attribute = 'date', reverse = True)
  %}
  {{ caller(things) }}
{% endmacro %}


{% macro get_things_by_author(author, thing = none) %}
  {% set things = 
     ( site.get('/presentations').children.filter(F.presenters.contains(author))|list
     + site.get('/blog').children.filter(F.author == author._id)|list
     ) | reject('equalto', thing) | sort(attribute = 'date', reverse = True)
  %}
  {{ caller(things) }}
{% endmacro %}

{% macro get_things_by_authors(authors, thing = none) %}
  {% if authors|length > 0 %}
    {% set author = site.get('/authors/' + authors[0]) %}
    {% set Fs = { 'PF': F.presenters.contains(author)
		, 'BF': F.auhor == author._id} %}
    {% for author_id in authors[1:] %}
      {% set author = site.get('/authors/' + author_id) %}
      {% if Fs.update({'PF': Fs['PF'].or(F.presenters.contains(author))}) %}{% endif %}
      {% if Fs.update({'BF': Fs['BF'].or(F.author == author._id)}) %}{% endif %}
    {% endfor %}
    {% set things = 
       ( site.get('/presentations').children.filter(Fs['PF'])|list
       + site.get('/blog').children.filter(Fs['BF'])|list
       ) | reject('equalto', thing) | sort(attribute = 'date', reverse = True)
    %}
    {{ caller(things) }}
  {% else %}
    {{ caller(none) }}
  {% endif %}
{% endmacro %}


{% macro get_related(thing) %}
  {% if thing.tags and thing.tags|length > 0 %}
    {% set tag = site.get('/tags/' + thing.tags[0]) %}
    {% set Fs = { 'PF': F.tags.contains(tag)
		, 'RF': F.tags.contains(tag)
		, 'BF': F.tags.contains(tag)
		, 'NF': F.tags.contains(tag)} %}
    {% for tag_id in thing.tags[1:] %}
      {% set tag = site.get('/tags/' + tag_id) %}
      {% if Fs.update({'PF': Fs['PF'].or(F.tags.contains(tag))}) %}{% endif %}
      {% if Fs.update({'RF': Fs['RF'].or(F.tags.contains(tag))}) %}{% endif %}
      {% if Fs.update({'BF': Fs['BF'].or(F.tags.contains(tag))}) %}{% endif %}
      {% if Fs.update({'NF': Fs['NF'].or(F.tags.contains(tag))}) %}{% endif %}
    {% endfor %}
    {% set things = 
       ( site.get('/presentations').children.filter(Fs['PF'])|list
       + site.get('/releases').children.filter(Fs['RF'])|list
       + site.get('/blog').children.filter(Fs['BF'])|list
       + site.get('/news').children.filter(Fs['NF'])|list
       ) | reject('equalto', thing)| sort(attribute = 'date', reverse = True)
    %}
    {{ caller(things) }}
  {% else %}
    {{ caller(none) }}
  {% endif %}
{% endmacro %}


{% macro render_tag(tag, active=False) %}
    <a href="{{ tag|url }}" class="btn btn-{%- if active -%}primary{%- else -%}default{%- endif %} tag btn-xs">
      <span class="glyphicon glyphicon-tag"></span> {{ tag.name }}&nbsp;
      <span class="badge">{% call(things) get_things_by_tag(tag) %}{{ things|length }}{% endcall %}</span>
    </a>
{% endmacro %}


{% macro render_author(author, active=False) %}
    <a href="{{ author|url }}" class="btn btn-{%- if active -%}primary{%- else -%}default{%- endif %} tag btn-xs">
      <span class="glyphicon glyphicon-user"></span> {{ author.record_label }}&nbsp;
      <span class="badge">{% call(things) get_things_by_author(author) %}{{ things|length }}{% endcall %}</span>
    </a>
{% endmacro %}


{% macro render_tags(thing) %}
  {% for tag_id in thing.tags %}
    {{ render_tag(site.get('/tags/' + tag_id)) }}
  {% endfor %}
{% endmacro %}


{% macro render_authors(authors) %}
  {% for author_id in authors %}
    {{ render_author(site.get('/authors/' + author_id)) }}
  {% endfor %}
{% endmacro %}


{% macro render_tag_nav(active=none, stacked=False) %}
  {% for tag in site.query('/tags') %}
    {{ render_tag(tag, tag == active) }}
    {% if stacked %}<br>{% endif %}
  {% endfor %}
{% endmacro %}


{% macro render_author_nav(active=none, stacked=False) %}
  {% for author in site.query('/authors') %}
    {{ render_author(author, author == active) }}
    {% if stacked %}<br>{% endif %}
  {% endfor %}
{% endmacro %}


{% macro thing_link(thing) %}
  {% if thing.link %}{{ thing.link }}{% else %}{{ thing|url }}{% endif %}
{% endmacro %}{# thing_link(thing) #}



{% macro render_small(thing) %}
  {% set icon = 'download-alt' if thing._model == 'release'
           else 'blackboard'   if thing._model == 'presentation'
           else 'pencil'       if thing._model == 'blog-post'
           else 'star'         if thing._model == 'news-item'
           else 'question-sign' %}
      <a class="feature-img-link" href="{{ thing_link(thing) }}">
      <div class="small-thing-header">
        {% if thing.image and thing.image is not none and thing.image != '' %}
	  {% set img = thing.attachments.images.get(thing.image) %}
	  {% if img is not none %}
	    <img src="{{ img.thumbnail(224, 144)|url }}">
	  {% endif %}
        {% endif %}

        <div class="small-thing-title">
          <span class="glyphicon glyphicon-{{ icon }}"></span>&nbsp;&nbsp;{{ thing.record_label }}
        </div>
      </div>
      </a>
      <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;{{ thing.date|dateformat('EEE dd MMM YYYY') }}<br>

    {% if thing._model == 'release' %}
    {% elif thing._model == 'presentation' %}
      <a href="{{ thing.event_url }}"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;{{ thing.event }}</a>
      {% if thing.video_url %}
        <a style="float: right" href="{{ thing.video_url }}"><span class="glyphicon glyphicon-film"></span></a>
      {% endif %}
      <br>
    {% elif thing._model == 'blog-post' %}
    {% elif thing._model == 'news-item' %}
    {% else %}
    {% endif %}
    {% if thing.author %}
      {% set author = site.get('/authors/' + thing.author) %}
      <a class="btn btn-default btn-xs tag" href="{{ author|url }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ author.record_label }}</a>
    {% endif %}
    {% if thing.presenters %}
      {% for author_id in thing.presenters %}
        {% set author = site.get('/authors/' + author_id) %}
        <a class="btn btn-default btn-xs tag" href="{{ author|url }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ author.record_label }}</a>
      {% endfor %}
    {% endif %}
    {% if thing.tags %}
      {% for tag_id in thing.tags %}
        {% set tag = site.get('/tags/' + tag_id) %}
        <a class="btn btn-default btn-xs tag" href="{{ tag|url }}"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ tag.record_label }}</a>
      {% endfor %}
    {% endif %}

    {% if thing.teaser %}
      <div class="small-teaser">
        {{ thing.teaser }}
      </div>
    {% endif %}
{% endmacro %}{# render_small(thing) #}

{% macro render_title(title, prefix = none, ncols = 12, icon = none, noline = False) %}
  {% if ncols == 12 %}<div class="row">{% endif %}
  <div class="col-sm-{{ ncols }} thing-header">
    {% if not noline %}<hr style="position: absolute; right: 0;  bottom: -7px; border: 0; width: 80%; height: 0; border-top: 1px solid red;">{% endif %}
    <h1>{% if prefix %}<span class="thing-header-prefix">{{ prefix }}</span> {% endif %}{% if icon %}<span class="glyphicon glyphicon-{{ icon }}"></span> {% endif %}{{ title }}</h1>
    <img src="/static/gd-underline.svg">
  </div>
  {% if ncols == 12 %}</div>{% endif %}
{% endmacro %}


{% macro render_3col(things, title, prefix = none, icon = none, noline = False) %}
      {{ render_title(title, prefix, icon = icon, noline = noline) }}
      {% for row in things|batch(3) %}
        {% set row_list = row|list %}
        <div class="row thing-row{% if row_list|selectattr('image', 'defined')|rejectattr('image', 'none')|list|length > 0 %} image-thing-row{% endif %}">
          {% for other in row_list %}
            <div class="col-sm-4 small-thing">
              {{ render_small(other) }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
{% endmacro %}{# render_3col(things, title, prefix = none) #}


{% macro render_4col(things, title, prefix = none, icon = none, noline = False) %}
      {{ render_title(title, prefix, icon = icon, noline = noline) }}
      {% for row in things|batch(4) %}
        {% set row_list = row|list %}
        <div class="row thing-row{% if row_list|selectattr('image', 'defined')|rejectattr('image', 'none')|list|length > 0 %} image-thing-row{% endif %}">
          {% for other in row %}
            <div class="col-sm-3 small-thing">
              {{ render_small(other) }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
{% endmacro %}{# render_4col(things, title, prefix = none) #}


{% macro render_full_page(thing) %}
  <div class="row">
    <div class="col-sm-3 thing-label">
        <h1 style="white-space: nowrap">
        <small style="font-size: 14px; color: #333">
        {% if thing.has_next() %}
	  <a href="{{ thing.get_siblings().next_page|url }}"><span class="glyphicon glyphicon-arrow-left"></span></a> &nbsp;
        {% endif %}
        <span class="glyphicon glyphicon-calendar"></span>
        {{ thing.date|dateformat('EEE dd MMM YYYY') }}
        {% if thing.has_prev() %}
	&nbsp; <a href="{{ thing.get_siblings().prev_page|url }}"><span class="glyphicon glyphicon-arrow-right"></a>
        {% endif %}
	</small>
	</h1>
    </div>
    {{ render_title(thing.record_label, ncols =  9, noline = True) }}
  </div>
  {% if thing._model == 'release' %}
    {% for attachement in thing.attachments %}
      {% if attachement.record_label == 'getdns-' + thing.version + '.tar.gz' %}
        <div class="row">
          <div class="col-sm-3 thing-label">
	    <p style="margin-top: 1em"><b>Download:</b></p>
	  </div>
          <div class="col-sm-9">
	    <div class="btn-group btn-group btn-group-lg">
              <a href="{{ attachement|url }}" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> &nbsp; {{ attachement.record_label }}</a>
              {% for signature in thing.attachments %}
                {% if signature.record_label == 'getdns-' + thing.version + '.tar.gz.asc' %}

                  <a href="{{ signature|url }}" class="btn btn-default"><span class="glyphicon glyphicon-certificate"></span></a>
                {% endif %}
	      {% endfor %}
              {#
              <span class="btn btn-default"> sha256:</span>
	      <code class="btn btn-default">{{ thing.sha256 }}</code>
              #}
	    </div>
          </div>
	</div>
	<div class="row">
          <div class="col-sm-3 thing-label">
	    <b>SHA256:</b>
	  </div>
          <div class="col-sm-9">
	    <code id="sha256-code">{{ thing.sha256 }}</code>
          </div>
        </div>
	</br>
      {% endif %}
    {% endfor %}

    <div class="row">
      <div class="col-sm-3 thing-label">
        <b>Announcement:</b><br><br>
        {{ render_tags(thing) }}
      </div>
      <div class="col-sm-9">
        {% if thing.image and thing.image is not none and thing.image != '' %}
	  {% set img = thing.attachments.images.get(thing.image) %}
	  {% if img is not none %}
	  <div class="thumbnail" style="float: right; margin-left: 10px; margin-top: 10px">
	    <img src="{{ img.thumbnail(180)|url }}">
	  </div>
	  {% endif %}
        {% endif %}

        {{ thing.announcement }}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3 thing-label">
        <b>ChangeLog:</b>
      </div>
      <div class="col-sm-9">
        <pre>{{ thing.changelog }}</pre>
      </div>
    </div>
  {% elif thing._model == 'presentation' %}{# if thing._model == 'release' #}
    {% if thing.slides_url %}
      <div class="row">
        <div class="col-sm-3 thing-label">
          <p style="margin-top: 1em"><b>Slides:</b></p>
	</div>
        <div class="col-sm-9">
          <a href="{{ thing.slides_url }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-download-alt"></span> &nbsp; {{ (thing.slides_url|string).split('/')|last|replace('%20', ' ') }}</a>
        </div>
      </div>
    {% endif %}
    {% if thing.event %}
      <div class="row">
        <div class="col-sm-3 thing-label">
          <b>Event:</b>
	</div>
        <div class="col-sm-9">
	  {% if thing.event_url %}
            <a href="{{ thing.event_url }}"><span class="glyphicon glyphicon-map-marker"></span> &nbsp; {{ thing.event }}</a>
	  {% else %}
            <span class="glyphicon glyphicon-map-marker"></span> &nbsp; {{ thing.event }}
          {% endif %}
        </div>
      </div>
    {% endif %}
    <br>
    <div class="row">
      <div class="col-sm-3 thing-label">
        {% if thing.presenters %}
          {{ render_authors(thing.presenters) }}
	  <br><br>
	{% endif %}
        {{ render_tags(thing) }}
      </div>
      <div class="col-sm-9">
        {% if thing.embedded_video_url %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ thing.embedded_video_url }}" allowfullscreen></iframe>
          </div>
	{% elif thing.video_url %}
            <a href="{{ thing.video_url }}"><span class="glyphicon glyphicon-film"></span> &nbsp; Video</a>
        {% endif %}
        {% if thing.abstract %}
	  {{ thing.abstract }}
        {% else %}
	  {{ thing.teaser }}
        {% endif %}
      </div>
    </div>
  {% elif thing._model == 'blog-post' %}{# if thing._model == 'presentation' #}
    <div class="row">
      <div class="col-sm-3 thing-label">
        {% if thing.author %}
          {{ render_author(site.get('/authors/'+thing.author)) }}
	  <br><br>
	{% endif %}
        {{ render_tags(thing) }}
      </div>
      <div class="col-sm-9">
        {% if thing.image %}
	  {% set img = thing.attachments.images.get(thing.image) %}
	  {% if img is not none %}
	  <div class="thumbnail" style="float: right; margin-left: 10px; margin-top: 10px">
	    <img src="{{ img.thumbnail(180)|url }}">
	  </div>
	  {% endif %}
        {% endif %}

        {{ thing.body }}
      </div>
    </div>
  {% endif %}{# elif thing._model == 'blog-post' #}

  {% call(related) get_related(thing) %}
    {% if related %}
    <div class="row"><div class="col-sm-12" style="height: 100px"></div></div>
      {% if thing.tags|length > 1 %}
        {{ render_4col(related, 'Related') }}
      {% else %}
        {{ render_4col(related, site.get('/tags/'+(thing.tags|first)).record_label, prefix = 'Related by') }}
      {% endif %}
    {% endif %}
  {% endcall %}

  {% if thing.author %}
    {% call(other) get_things_by_author(thing.author, thing) %}
      {% if other %}
        <div class="row"><div class="col-sm-12" style="height: 75px"></div></div>
        {{ render_4col(other,  site.get('/authors/'+thing.author).record_label, 'Other by') }}
      {% endif %}
    {% endcall %}
  {% elif thing.presenters %}
    {% call(other) get_things_by_authors(thing.presenters, thing) %}
      {% if other %}
        <div class="row"><div class="col-sm-12" style="height: 75px"></div></div>
        {% if thing.presenters|length > 1 %}
          {{ render_4col(other,  'these authors', 'Other by') }}
	{% else %}
          {{ render_4col(other,  site.get('/authors/'+(thing.presenters|first)).record_label, 'Other by') }}
        {% endif %}
      {% endif %}
    {% endcall %}
  {% endif %}
{% endmacro %}{# macro render_full_page(thing) #}


{% macro render_thing_sidebar(title, things, active = none, link = none) %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">{% if link %}<a href="{{ link|url }}">{% endif %}{{ title }}{% if link %}</a>{% endif %}</h1>
    </div>
    <div class="list-group list-group-default">
      {% for thing in things %}
        <a href="{{ thing_link(thing) }}" class="list-group-item{% if thing is sameas active %} active{% endif %}">
	  <b>{{ thing.record_label }}</b> {{ thing.date }}<br>
          {{ thing.teaser }}
	</a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}{# render_thing_sidebar(title, things, active = none) #}

{% macro render_binding(binding) %}
<div class="col-sm-6 col-lg-4 feature">
  <a class="feature-img-link" href="{{ binding.link }}">
    <div>
      {% if binding.image %}
      {% set img = binding.attachments.images.get(binding.image) %}
      <img src="{{ img.thumbnail(245, 145)|url }}"><br>
      {% endif %}
      <h2>{{ binding.title }}</h2>
    </div>
  </a>
  <p>{{ binding.text }}</p>
</div>
{% endmacro %}{# render_binding(binding) #}
