{% extends "layout.html" %}
{% import "macros/getdns.html" as g %}
{% block body %}
  {% call(things) g.get_things_by_author(this) %}
  {{ g.render_3col(things, this.record_label, icon = 'user', noline = true) }}
  {% endcall %}
{% endblock %}
{% block sidebar %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title"><a href="{{ site.get('/authors')|url }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Authors</a></h1>
    </div>
    <div class="panel-body">
      {{ g.render_author_nav(this) }}
    </div>
  </div>
{% endblock %}
