{% extends "layout.html" %}
{% block body %}
  {% if this.body %}
  <div class="jumbotron">{{ this.body }}</div>
  {% endif %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slide in this.carousel.blocks %}
      <li data-target="#myCarousel" data-slide-to="{{ loop.index }}"{% if loop.first %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for slide in this.carousel.blocks %}
      <div class="item item{{ loop.index }}{% if loop.first %} active{% endif %}">
        {% set img = this.attachments.images.get(slide.image) %}
        <img src="{{ img.thumbnail(600, 230)|url }}">
	{% if slide.text %}<div class="carousel-caption">{{ slide.text }}</div>{% endif %}
      </div>
    {% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  {% macro showblock(latest_tarball) %}
    {{ caller()|string|replace('/getdns-latest.tar.gz', latest_tarball) }}
  {% endmacro %}
  {% set RD = {'latest': '/getdns-latest.tar.gz'} %}
  {% set release = site.get('/releases').children.first() %}
  {% for attachement in release.attachments %}
    {% if attachement.path.endswith('.tar.gz') and RD.update({'latest': attachement.path}) %}{% endif %}
  {% endfor %}
  {% for feature in this.features.blocks %}
    {% call showblock(RD['latest']|url) %}{{ feature }}{% endcall %}
  {% endfor %}
  {% for binding in site.get('/bindings').children if binding.on_frontpage %}
    {{ g.render_binding(binding) }}
  {% endfor %}
{% endblock %}
