{% extends "components.html" %}
{% import "macros/getdns.html" as g %}
{% block html %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/static/favicon.ico'|asseturl }}">
  <!-- Generated CSS, including Bootstrap -->
  <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
  <!-- Other things -->
  <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
  <title>{% block title %}{{ this.record_label }}{% endblock %}</title>
</head>
<body{% block body_attrs %}{% endblock %}>
  {% block navbar %}{{ super() }}{% endblock %}

  <div class="container">
    {% block container %}

    <div class="row row-offcanvas row-offcanvas-right">

      <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
    
        {% block body %}{% if this.body %}{{ this.body }}{% endif %}{% endblock %}

      </div><!-- class="col-xs-12 col-sm-9" -->

      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
	{% block query_results %}
	<div class="panel panel-query hidequeryresult">
	  <div class="panel-heading"><b>Query result</b></div>
	  <div class="panel-body">
	    QUERYSMALL
	  </div>
	</div>
	{% endblock %}
        {% block sidebar %}
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h1 class="panel-title">News</h1>
	    </div>
	    <div class="list-group list-group-default">
	     {% set items = ( site.get('/presentations').children|list
		          + site.get('/releases').children|list
			  + site.get('/news').children|list
			  + site.get('/blog').children|list
			  ) | sort(attribute = 'date', reverse = True)|list %}
             {% for item in items if not item.archive %}
	       <a href="{{ g.thing_link(item) }}" class="list-group-item news-list-item">
	         <b>{{ item.record_label }}</b> {{ item.date }}. 
                 {{ item.teaser }}
	       </a>
             {% endfor %}
	     <a class="list-group-item news-list-item" data-parent="#news" data-toggle="collapse" href="#collapseNews" style="text-align: center">more...</a>
	     <div class="collapse out" id="collapseNews">
               {% for item in items if item.archive %}
  	       <a href="{{ g.thing_link(item) }}" class="list-group-item news-list-item">
  	         <b>{{ item.record_label }}</b> {{ item.date }} <br />
                   {{ item.teaser }}
  	       </a>
               {% endfor %}
	     </div>
           </div>
	 </div>
        {% endblock sidebar %}

      </div><!-- class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" -->

    </div><!-- class="row row-offcanvas row-offcanvas-right" -->
    {% endblock container %}
  </div><!-- class="container" -->
  {% block footer_content %}{{ super() }}{% endblock footer_content %}
  <script type=text/javascript src="{{ '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>
</body>
</html>
{% endblock html %}
