{% extends "layout.html" %}
{% block body %}
  {{ this.body }}
{% endblock %}
{% block sidebar %}
  {% set manpages = site.get('/documentation/manpages') %}
  {% set active = this %}
  <div class="list-group manpages affix">
      <a class="list-group-item list-group-item-info" href="{{ manpages|url }}">{{ manpages.record_label }}</a>
    {% for page in manpages.children %}
      <a href="{{ page|url }}" class="list-group-item{% if page is sameas active %} active{% endif %}">{{ page._id }}</a>
    {% endfor %}
  </div>

{% endblock %}
