{% extends "nosidebar.html" %}
{% block body %}
  <h1>{{ this.record_label }}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Link</th>
        <th>Archive</th>
        <th>Tags</th>
        <th>Teaser</th>
      </tr>
    </thead>
    <tbody>
      {% for child in this.children %}
        <tr>
          <th><a href="{{ child|url }}">{{ child.title }}</a></th>
          <th>{{ child.date }}</th>
          <th><a href="{{ child.link }}">{{ child.link }}</a></th>
          <th>{{ child.archive }}</th>
          <th>{{ child.tags|join(' ') }}</th>
          <th>{{ child.teaser }}</th>
	</tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock body %}
