{% extends "layout.html" %}
{% block body %}
  <h1>{{ this.record_label }}</h1>
  <table class="table">
    <tbody>
      <tr><th>Title</th><td>{{ this.record_label }}</tr>
      <tr><th>Date</th><td>{{ this.date }}</tr>
      <tr><th>Link</th><td>{{ this.link }}</tr>
      <tr><th>Teaser</th><td>{{ this.teaser }}</tr>
      <tr><th>Archive</th><td>{{ this.archive }}</tr>
      <tr><th>tags</th><td>{{ this.tags|join(' ') }}</tr>
      <tr><td colspan="2">{{ this.body }}</tr>
    </tbody>
  </table>
{% endblock body %}
