{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block container %}
  <h2>{{ this.title }}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Teaser</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for child in this.children %}
        <tr>
          <th><a href="{{ child|url }}">{{ child.record_label }}</a></th>
          <th>{{ child.date }}</th>
          <th>{{ child.teaser }}</th>
          <th>{{ child.tags|join(' ') }}</th>
	</tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock container %}
