{% extends "page.html" %}
{% block body_attrs %} data-spy="scroll" data-target="#tocdoc" data-offset="20"{% endblock %}
{% block sidebar %}
  <nav id="tocdoc" role="navigation">
    <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="0">
      {% for item in this.body.toc recursive %}
        <li class="nav-item"><a class="nav-link" href="#{{ item.anchor }}">{{ item.title }}</a>
          {%- if item.children -%}
            <ul class="nav nav-pills nav-stacked">{{ loop(item.children) }}</ul>
          {%- endif -%}
	</li>
      {% endfor %}
    </ul>
  </nav>
{% endblock %}
